.mode {
    background-color: white;
    border: 2px solid red;
    width: 150px;
    padding: 5px;
    padding-left: 12px;
    border-radius: 20px;
    position: fixed;
    bottom: 0;
    cursor: pointer;
}
.parentMode {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* input[type="checkbox"] {
    width: 100%;
    height: 100%;
} */